@using 'utf-8';
.green-section{
    text-align: $green-section-text-align;
    color: $green-section-color;
    background: $green-section-bg;
    padding: $green-section-padding;

    .hr{
        background: $green-section-hr-bg;
        width: $green-section-hr-width;
    }

    .icon-group{
        margin-top: $green-icon-group-margin;
        .icon{
            display: inline-block;
            width: $green-icon-size;
            height: $green-icon-size;
            background: $green-icon-color;
            transform:$green-icon-transform;
            margin: $green-icon-margin;
        }
    }
}
.wrapper{
    max-width: $wrapper-max-width;
    margin: 0 auto;
    //overflow: auto; //防止子元素发生margin collapse
}

.gray-section{

    .article-preview {
        font-size: 0;
        background: #1E252A;
        color: #fff;
        
        &:nth-child(odd){
            background-color: #282521;
        }

        &>div {
            float: left;
        }

        &:after{
            content: '';
            display: block;
            clear: both;
        }
    }

    .img-section{
        width: 45%;
        line-height: 0;

        img{
            width: 100%;
        }
    }

    .text-section{
        width: 55%;
        &>*{
            max-width: 80%;
        }
        position: relative;
        top: 68px;
        left: 50px;
        //margin: 20px 0 0 20px;

        .sub-heading{
            font-size: 20px;
            margin-top: 0;
        }

        p{
            font-size: 18px;
            letter-spacing: 1px;
        } 
    }
}


