nav {
    background: $navbar-bgColor;
    height: $navbar-height;
}

nav{
    ul{
        list-style: none;
        margin:0;
        float: $navbar-menu-float;
        
        li{
            display: inline-block;
            line-height: $navbar-height;
            margin-right: $navbar-menu-mright;

            &.active{
                border-bottom: 2px solid #fff;
            }

            a{
                line-height: $navbar-height;
                display: inline-block;
                height: inherit;
                text-decoration: none;
                color: $navbar-menu-color;
            }
        }
    }
}