{% extends 'rango/base.html' %}

{% block tilte %}添加类别{% endblock %}

{% block body_block %}
    <div class="jumbotron">
        <h1>添加类别</h1>

        <div class="row">
            <form role="form" class="col-sm-4 col-md-4" method="post" action="{% url 'rango:add_category' %}">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}
                <br/>
                <input type="submit" class="btn btn-default" name="submit" value="添加"/>
            </form>
        </div>
    </div>

{% endblock %}