<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>Rango - {% block tilte %}How to Tango with Django!{% endblock %}</title>
</head>
<body>
    <!-- navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'rango:index' %}">Rango</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
                  <li class="navbar-text">欢迎,</li>
                  <li><a href="{% url 'rango:profile' %}">{{ user.username }}</a></li>
                    <li><a href="{% url 'rango:logout' %}">登出</a></li>
              {% else %}
                <li><a href="{% url 'rango:register' %}">注册</a></li>
                <li><a href="{% url 'rango:login' %}">登录</a></li>
              {% endif %}
          </ul>
          <ul class="nav navbar-nav">
              {% if user.is_authenticated %}
              <li><a href="{% url 'rango:add_category' %}">增加类别</a></li>
              {% endif %}
              <li><a href="{% url 'rango:about' %}">关于</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">
            <!-- sidebar -->
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas">
                <div class="list-group">
                    {% include 'rango/category_list.html' %}
                </div>
            </div>

            <!-- block -->
            <div class="col-xs-6 col-sm-9">{% block body_block %}{% endblock %}</div>
        </div>
    </div>
    <footer>
        <p>&copy; 福宝工作室</p>
    </footer>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/rango-ajax.js' %}"></script>
</body>
</html>