{% extends 'rango/base.html' %}

{% block body_block %}
    {% if user.is_authenticated %}
    <h1>Rango说...Hello, {{ user.get_full_name }}</h1>
    {% else %}
    <h1>Rango 说...Hello, world!</h1>
    {% endif %}

    {% if categories %}
        <h2>分类列表</h2>
        <ul>
        {% for category in categories %}
            <li><a href="{% url 'rango:category' category.url%}">{{ category.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>现在没有任何分类</strong>
    {% endif %}

    {% if pages %}
        <h2>访问最多的页面</h2>
        <ul>
        {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>现在没有任何页面</strong>
    {% endif %}
{% endblock %}