<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Rango</title>
</head>
<body>
<h1>Rango Says...Hello, world!</h1>
{% if categories %}
    <h2>分类列表</h2>
    <ul>
    {% for category in categories %}
        <li><a href="{% url 'rango:category' category.url%}">{{ category.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <strong>现在没有任何分类</strong>
{% endif %}
{% if pages %}
    <h2>访问最多的页面</h2>
    <ul>
    {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <strong>现在没有任何页面</strong>
{% endif %}
<a href="{% url 'rango:add_category' %}">增加类别</a><br/>
<a href="{% url 'rango:about' %}">关于</a><br/>
<img src="{% static 'rango/rango.jpg' %}" alt="rango"/>
</body>
</html>