{% extends 'rango/base.html' %}

{% block tilte %}加入到Rango{% endblock %}

{% block body_block %}
    <div class="jumbotron">
        <h1>加入到Rango</h1>
        <div class="row">
            {% if registered %}
                <div class="col-sm-12">
                <p>Rango说：<strong>感谢你的加入！</strong></p>
                <p>可以直接<a href="{% url 'rango:login' %}">登录</a></p>
                </div>

            {% else %}
                <form role="form" class="col-md-6 col-lg-6" method="post" enctype="multipart/form-data"
                      action="{% url 'rango:register' %}">
                    {% csrf_token %}
                    {% for field in user_form.visible_fields %}
                        <div class="form-group">
                            {{ field.label }}<br/>
                            {{ field }}<br/>
                            {{ field.errors }}
                        </div>
                    {% endfor %}

                    {% for field in profile_form.visible_fields %}
                        <div class="form-group">
                            {{ field.label }}<br/>
                            {{ field }}<br/>
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                    <input type="submit" class="btn btn-primary" name="submit" value="提交"/>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}