<!DOCTYPE html> {% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>铜陵有色矿产资源中心-{% block title %}{%endblock%}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/application.css' %}">
    {% block stylesheet%}{%endblock%}
    <script src="{% static 'js/app.js' %}"></script>
    {% block script %}
    {% endblock %}
</head>

<body>
    <div class="wrap">
        <div class="top_content">
            <span> 您好！欢迎光临铜陵有色</span>
            <ul>
                <li><a href="/admin" target="_blank">后台管理</a></li>
                <li>
                    <a onclick="AddFavorite(window.location,document.title);" href="javascript:void(0);">添加收藏</a>
                </li>
                <li>
                    <a onclick="SetHome(this,window.location);" href="javascript:void(0);">设为首页</a>
                </li>
            </ul>
        </div>
        <!-- top_content结束 -->
        <div class="logo">
            <div class="logo_left">
                铜陵有色
            </div>
        </div>
        <!-- logo结束 -->
        <div class="nav">
            <ul>
                <li><a href="{% url 'index'%}">首页</a></li>
                <li><a href="{% url 'home:intro'%}">简介</a></li>
                <li><a href="{% url 'home:datas'%}">资料</a></li>
                <li><a href="{% url 'home:literatures'%}">文献</a></li>
                <li><a href="#">照片</a></li>
                <li><a href="#">视频</a></li>
            </ul>
        </div>
        <!-- nav结束 -->
        {% block focus %}
        <div class="focus" id="picBox"  style="height:243px">
            <img src="{% static 'img/banner.jpg' %}" alt="my focus">
        </div><!-- focus结束 -->
        {%endblock%}
        <div class="main">
            {% block main_content %}{% endblock %}
        </div>
        <!-- main结束 -->
        <div class="footer">
            <p class="company">主办单位：铜陵有色矿产资源中心</p>
            <div class="info">
                地址：安徽省铜陵市长江西路&nbsp;邮编：244001 电话：0562-5860016&nbsp;传真：0562-5861313 <br>
                Copyright@2014&nbsp;铜陵有色矿产资源中心.&nbsp;All Rights Reserved. <br>
            </div>
        </div>
        <!-- footer -->
    </div>
    <!-- wrap结束 -->
</body>

</html>
