{% extends "home/base.html" %}
{% load staticfiles %}
{% block title %}首页{%endblock%}

{% block script %}
<script src="{% static 'js/myFocus-2.0.1.min.js' %}"></script>
<script src="{% static  'js/mf-pattern/mF_YSlider.js' %}"></script>
<link rel="stylesheet" href="{% static 'js/mf-pattern/mF_YSlider.css' %}">
<script>
myFocus.set({
    id: 'picBox'
});
</script>
{%endblock%}

{% block focus %}
<div class="focus" id="picBox">
    <div class="loading"><img src="{% static 'img/loading.gif' %}" alt="图片加载中"></div>
    <div class="pic">
        <ul>
            <li><img src="{% static 'img/ad2.jpg' %}" alt=""></li>
            <li><img src="{% static 'img/ad3.jpg' %}" alt=""></li>
            <li><img src="{% static 'img/ad4.jpg' %}" alt=""></li>
        </ul>
    </div>
</div>
<!-- focus结束 -->
{% endblock %}

{% block main_content %}
<div class="infos">
    <div class="title">
        <h2 class="title_left">资料</h2><span class="title_right"><a href="{%url 'home:datas'%}">更多&gt;&gt;</a></span>
    </div>
    <!-- title结束 -->
    <div class="info-list">
        <ul>
            {% if datas %}
            {% for data in datas %}
                <li><span>{{data.create_date| date:"Y-m-d"}}</span><a href="#" title="{{data.title}}">{{data.title}}</a></li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
    <!-- info-list结束 -->
</div>
<!-- info结束 -->
<div class="course">
    <div class="title">
        <h2 class="title_left">文献</h2><span class="title_right"><a href="news.html">更多&gt;&gt;</a></span>
    </div>
    <!-- title结束 -->
    <div class="info-list">
        <ul>
            {% if literatures %}
            {% for literature in literatures %}
                <li><span>{{literature.create_date| date:"Y-m-d"}}</span><a href="#" title="{{literature.title}}">{{literature.title}}</a></li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
    <!-- info-list结束 -->
</div>
<!-- course结束 -->
<div class="sidebar">
    <div class="video">
        <div class="title">
            <h2 class="title_left">视频</h2><span class="title_right"><a href="news.html">更多&gt;&gt;</a></span>
        </div>
        <!-- title结束 -->
        <p class="video_content">
            <embed src="http://player.youku.com/player.php/sid/XNjkzMDE5MTUy/v.swf" allowfullscreen="true" quality="high" width="220" height="200" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash">
        </p>
        <!-- video_content结束 -->
    </div>
    <!-- video结束 -->
</div>
<!-- sidebar结束 -->
{% endblock %}